stages:
  - check
  - bump

flake-check:
  stage: check
  tags:
    - nix
  script:
    - nix flake check
  only:
    - merge_requests
    - main

auto-bump-patch:
  stage: bump
  tags:
    - nix
  before_script:
    - git remote set-url origin "https://oauth2:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
  script:
    - nix run .#ci.bump-patch
    - nix run .#ci.cleanup-patch-tags -- 5 # Keep latest 5 patch tags
  only:
    - main
  when: on_success

manual-version-bump:
  stage: bump
  tags:
    - nix
  before_script:
    - git remote set-url origin "https://oauth2:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
  script:
    - nix run .#ci.bump-version -- $NEW_VERSION
  only:
    - main
  when: manual
  variables:
    NEW_VERSION: ""
