stages:
  - check
  - bump

flake-check:
  stage: check
  tags:
    - nix
  before_script:
    # Create .netrc using CI job token (more secure)
    - echo "machine ${CI_SERVER_HOST}" > ~/.netrc
    - echo "login gitlab-ci-token" >> ~/.netrc
    - echo "password ${CI_JOB_TOKEN}" >> ~/.netrc
    - chmod 600 ~/.netrc
  script:
    - nix flake check -L -j 2 --show-trace
  only:
    - merge_requests
    - main

auto-bump-patch:
  stage: bump
  tags:
    - nix
  before_script:
    - git remote set-url origin "https://oauth2:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
  script:
    - nix run .#ci.bump-patch
    - nix run .#ci.cleanup-patch-tags -- 5 # Keep latest 5 patch tags
  only:
    - main
  when: on_success

manual-version-bump:
  stage: bump
  tags:
    - nix
  before_script:
    - git remote set-url origin "https://oauth2:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
  script:
    - nix run .#ci.bump-version -- $NEW_VERSION
  only:
    - main
  when: manual
  variables:
    NEW_VERSION: ""
